<div class="container mt-5">
    <div class="row">
        <div class="col-md-3" *ngFor="let product of products">
            <div class="card shadow-lg">
                <img src="{{product.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text">{{product.description}}</p>
                  <a href="#" class="btn btn-warning">Buy Now</a>
                </div>
              </div>
        </div>
    </div>
</div>